.App-header {
    background-color: white;
    min-height: 10vh;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
    color: black;
    border: 6px solid white;
  }



@media screen and (min-width: 480px) {
    .logo {
        height: 5vh;
    }
}

.logo {
    /* margin-top: 20px; */
    height: 10vh;
    align-items: center; 
}


.sponsor {
    /* margin-top: 20px; */
    vertical-align: bottom;
    width: 300vh; 
}

strong {
    /* color: #307cb6; */
    color: #84bf45;
    font-size: 21px;
    }

/*p {
    font-size: small;
}*/