#mainLogin
{
  padding: 3rem;
  justify-content: center;
  align-items: center;
 
}

#LogRegContainer
{
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  background: rgba(228, 236, 229, 0.8)    /*  40% opaque green */ 
}

