#summary
{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


@media only screen and (max-width: 768px) {
    #summary {
        flex-direction: column;
    }
  }

   #left{
        display: flex;
        max-width: 40vw;
        align-items: center;
    } 

  #right {
      padding-top: 5vh;
      /*display: flex;
      flex-direction: column;
      align-items: center;*/
  }

  #control
{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
a
{
    color: rgb(47, 50, 53);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: rgb(47, 50, 53);
    text-decoration: none;
}
