.App-header {
  margin-top: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: white;
  min-height: 5vh;
  color: black;
  /*border: 3px solid black;*/
}

.logo {
  max-height: 10vh;
  max-width: 45vh;
  margin-top: 2%;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 992px) {
  .logo {
    height: 10vh;
  }
}

.sponsor {
  height: 8vh;
  margin-top: 2%;
  margin-bottom: 4rem;
}

strong {
  color: #84bf45;
  /*font-size: 120%;*/
  font-size: calc(1px + 2vmin);
  /*vertical-align: middle;*/
  padding:5%;
}

@media only screen and (max-width: 992px) {
  strong {
    font-size: calc(3px + 3vmin);
  }
}

span {
  padding:5%;
}
