.App-header {
  background-color: white;
  min-height: 10vh;
  color: black;
  border: 6px solid white;
}

@media screen and (min-width: 480px) {
  .logo {
    height: 5vh;
  }
}

.logo {
  height: 8vh;
  margin-top: 2%;
  margin-bottom: 20px;
}

.sponsor {
  height: 8vh;
  margin-top: 2%;
  margin-bottom: 20px;
}

a:hover {
        color: #001a00;
        text-decoration: underline !important;
      }

strong {
  color: #84bf45;
  font-size: 120%;
  vertical-align: middle;
}
