.App-header {
  background-color: white;
  min-height: 10vh;
  color: black;
  border: 6px solid white;
}  

.logo {
  height: 10vh;
  max-height: 10vh;
  margin-top: 2%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .logo {
    height: 12vh;
  }
}

.sponsor {
  height: 8vh;
  margin-top: 2%;
  margin-bottom: 20px;
}

strong {
  color: #84bf45;
  /*font-size: 120%;*/
  font-size: calc(1px + 2vmin);
  /*vertical-align: middle;*/
}

@media only screen and (max-width: 992px) {
  strong {
    font-size: calc(3px + 3vmin);
  }
}

span {
  padding:5%;
}
