#avail
{
    margin: 3rem;
    padding: 1rem;
    border: 1px solid lightgreen;
    border-radius: 2px;
    background-color: lightgreen;
}
#notavail
{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 1rem;
    background-color: lightsalmon;
}
#personalpage
{
    color: black;
}