.main{
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
#battòn
{
    display: flex;
}
#content
{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
#summary
{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-left: 10rem;
    margin-right: 10rem;
}

#available
{
    background-color: lightgreen;
    
}

#unavailable
{
    background-color: rgb(238, 70, 70);
}