html
{
    background-color: #e5f5c6;
}
#main{
    background-color: #e5f5c6;
}
#content{
    background-color: #e5f5c6;
}
#title{
    background-color: #e5f5c6;
}
#left{
    background-color: #e5f5c6;
}
#right
{
    background-color: #e5f5c6;
}

a{
    text-decoration: none;
    color: white;
}
li
{
    text-decoration: none;
    color: white;
}
.navbar
{
    background-color: #636e3e;
}
.App-navbar {
    /*font-size: calc(6px + 2vmin);*/
    font-size: 3vh;
}

.navbar-brand {
    /*font-size: calc(6px + 2vmin);*/
    font-size: 3vh;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255 ,255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.main{
    text-align: center;
    padding: 1rem;
}

#title
{
    width: 100%;
    justify-content: center;
}
#title>h2 
{
    text-align: center;
}
#title>h1
{
    text-align: center;

}
#content
{
    text-align: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#reservations
{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    padding: 2rem;
}

#deny
{
    justify-content: center;
}
#message
{
    justify-content: center;
}
#resToChange
{
    display: flex;
    background-color: bisque;
}

#spinner
{
    text-align: center;
}

h3
{
    text-align: center;
}

#changeErr
{
    color: red;
}

#deleted
{
    display: flex;
    flex-direction: column;
}

#rentErr
{
    color: red;
}

#maintErr{
    color: red;
}